/* landing-page.component.css */

header {

  background-color:whitesmoke;
  padding:15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  height:80px;
}
h1{
  text-align: center;
}
.logout {
  text-align: right;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  position:relative;
  top:-60px;
  right:-1290px;
  font-size: 14px;
  padding: 10px;

}

.logout:hover{

  opacity:.8;

}



.landing-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .upload-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }

  .upload-btn:hover{
    opacity:.8;
  }
  
  .dialog {
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    border: 1px solid black;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chart-select {
    padding: 8px;
    font-size: 14px;
  }
  
  .generate-btn,
  .close-btn {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
  }
  
  .chart-container {
    margin-top: 20px;
  }
  