form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    background-color: #f9f9f9;
    margin-bottom: 60px;
  
  }


  label {
    font-weight: bold;
  }

  input[type="text"] {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #country{
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  h2 {
    font-size: 1.2em;
    margin-top: 15px;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  button:not(:disabled):hover {
    background-color: #0056b3;
  }

.text-danger{
  color: red;
  font-size: 14px;
  padding-bottom: 14px;
}

  

.toggle {
    font-size:2rem; 
    border: .125em solid currentColor;
    border-radius: 2em;
    cursor: pointer;
    display: block;
    height: 2em;
    position: relative;

    width: 3.75em;
  }

  .toggle span {
    background-color: currentColor;
    border-radius: 2em;
    display: block;
    height: 1.5em;
    left: .25em;
    overflow: hidden;
    position: absolute;
    top: .25em;
    /* text-indent: -9999px; */
    transition: left .25s;
    width: 1.5em;
    z-index: 2;
  }
  
  .toggle::before,
  .toggle::after {
    content: '';
    display: block;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
  }
  
  .toggle::after {
    box-shadow: .25em .25em #5901d8;
    height: 1.125em;
    right: .9em;
    top: .125em;
    width: 1.125em;
  }
  
  .toggle::before {
    background-color: #ffc409;
    height: .625em;
    outline: .25em dotted #ffc409;
    outline-offset: .125em;
    left: .7em;
    top: .7em;
    width: .625em;
  }
  
  input:checked ~ .toggle span {
    left: 2em;
  }
  

  .sr-only {
    position: absolute;
    left: -9999px;
    bottom: 10000px;
     opacity: 0; 
  }

 body {

    align-items: center;

    /* transition: background-color .25s; */
    color: #1e1e1e;
    background: linear-gradient(to bottom right, #eefff4 25%, #a0ffd9 50%, #5c0095 75%, #01072a);
    background-size: 300% 300%;
    background-position: top right;
    transition: background-position .5s;
    overflow: hidden;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  
  body:has(#darkmode-toggle:checked) {
    background-position: 100% 100%;
    color: rgb(185, 163, 163);
  }

 .both {
  display: flex;
  align-items:center;

 }

  .form_body {
    align-items: right;
  }

  @media (max-width: 600px) {
    .toggle_button {
      bottom: 300px; 
    }
  }

  


  .singUp{flex: 1;
   text-align: center;
   font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }